{% extends 'main.html' %} {% load static %} {% block content %}
<section class="login">
  <div class="login-background">
    <div id="object"></div>
    <div class="add-container login-container" style="color: rgb(var(--black))">
      <div class="add-wrapper login-wrapper">
        <div class="add-wrapper__heading login-wrapper__heading">
          <h4 class="add-wrapper__heading--sub login-wrapper__heading--sub">
            your account
          </h4>
          <h2 class="add-wrapper__heading--main login-wrapper__heading--main">
            sign up
          </h2>
        </div>
        <form method="POST" class="login-form">
          {% csrf_token %} {% for field in form %}
          <div class="login-form--field">{{field}}</div>
          {% for error in field.errors %}
          <span style="color: red" class="field--errors">{{error}}</span>
          {% endfor %} {% endfor %}

          <input class="login-form--btn" type="submit" value="sign up" />
        </form>
        <div class="login-form--switch">
          Already have an account? &nbsp;&nbsp;<a href="{% url 'login' %}"
            >Sign In</a
          >
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
