.container {
  overflow: hidden;
  height: 100vh;
  padding: 4vh 0;
}

.wrapper {
  width: 100%;
  height: 100%;
  display: flex;
  overflow-x: hidden;
}

.page {
  min-width: 100%;
  height: 100%;
  font-size: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blogs-head {
  padding-left: 10vh;
  margin-right: 20vh;
  &ing {
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    gap: 2vw;
    & > * {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    h1 {
      font-size: 32vh;
      line-height: 1.2;
      background-color: rgb(var(--black));
    }
    &--1 {
    }
    &--2 {
      gap: 4vh;
    }
  }
  &-stamp {
    height: calc(32vh + 6vh);
    transform: rotate(3deg);
  }
}

.blogs {
  //   min-width: 100%;
  display: flex;
  &-blog {
    border: 2px solid rgba(var(--black), 0.2);
    width: 20vh;
    height: 100%;
    display: flex;
    padding: 4vh 0;
    align-items: center;
    justify-content: space-between;
    writing-mode: vertical-rl;
    cursor: url("../img/c2.svg"), auto;
    background-image: linear-gradient(
        rgba(var(--background-color), 0.7),
        rgba(var(--background-color), 0.7)
      ),
      url("../img/bckgrnd.jpg");
    &:hover {
      filter: contrast(1.2);
    }
    &:not(:last-child) {
      border-right: 0px;
    }
  }
}

.talk {
  min-width: 60vh;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-between;
  border-left: 2px solid rgba(var(--black), 0.2);
  padding-left: 4vh;
  margin-left: 4vh;
  h2,
  h2 span {
    font-size: 14.4vh;
    letter-spacing: 2px;
  }
  h2 {
    line-height: 1;
    margin-bottom: 4vh;
  }
  h2 span {
    margin-left: 1.2vh;
  }
  &-email {
    align-self: center;
    border: 2px solid rgba(var(--black), 0.2);
    border-radius: 50%;
    padding: 6vh 12vh;
    font-size: 4.8vh;
    font-weight: 100;
    font-family: "Meridies", serif;
    text-decoration: none;
    color: rgb(var(--black));
    text-transform: uppercase;
    cursor: url("../img/c2.svg"), auto;
    background-image: linear-gradient(
        rgba(var(--background-color), 0.7),
        rgba(var(--background-color), 0.7)
      ),
      url("../img/bckgrnd.jpg");
    &:hover {
      filter: contrast(1.2);
    }
  }
}
