@font-face {
  font-family: "Chomsky";
  src: url("../fonts/Chomsky.otf");
}

@font-face {
  font-family: "English";
  src: url("../fonts/OldeEnglish.ttf");
}

@font-face {
  font-family: "Domine";
  src: url("../fonts/Domine-Regular.ttf");
}

@font-face {
  font-family: "Meridies";
  src: url("../fonts/Meridies\ Antiqua.otf");
}

// test fonts
@font-face {
  font-family: "Caledo";
  src: url("../fonts/CaledoBold.otf");
}
@font-face {
  font-family: "WJill";
  src: url("../fonts/WhiskeyJill.otf");
}
@font-face {
  font-family: "Czesko";
  src: url("../fonts/Cezsko.ttf");
}
@font-face {
  font-family: "Crucial";
  src: url("../fonts/Crucial.otf");
}
@font-face {
  font-family: "Domaine";
  src: url("../fonts/DomaineDisplay.otf");
}
@font-face {
  font-family: "Canopee";
  src: url("../fonts/Canopee.otf");
}
@font-face {
  font-family: "Editorial";
  src: url("../fonts/EditorialNew.otf");
}
@font-face {
  font-family: "DomaineDisplay";
  src: url("../fonts/DomaineCondensed.woff2");
}
