@font-face {
  font-family: "Chomsky";
  src: url("../fonts/Chomsky.otf");
}

@font-face {
  font-family: "English";
  src: url("../fonts/OldeEnglish.ttf");
}

@font-face {
  font-family: "Domine";
  src: url("../fonts/Domine-Regular.ttf");
}

@font-face {
  font-family: "Meridies";
  src: url("../fonts/Meridies\ Antiqua.otf");
}
