.footer {
  font-size: 1.6vw;
  font-weight: 1000;
  font-family: "Meridies", serif;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  justify-content: space-between;
  &__copyright {
    cursor: url("../img/c2.svg"), auto;
  }
  &__links {
    ul {
      display: flex;
      list-style: none;
      gap: 2vw;
      li {
        cursor: url("../img/c2.svg"), auto;
        &:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
