nav {
  width: 100%;
  padding: calc(2vh + 8px) calc(2vw + 8px);
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: auto;
  z-index: 10;
  height: 10vh;

  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: capitalize;

  border-bottom: 2px solid rgba(var(--black), 0.2);
  // @media only screen and (min-device-width: 991px) {
  //   position: fixed;
  //   top: 0;
  //   left: 0;
  //   right: auto;
  //   bottom: auto;
  //   writing-mode: vertical-rl;
  //   height: 100%;
  //   width: 10vh;
  //   background-image: linear-gradient(
  //       rgba(var(--background-color), 0.7),
  //       rgba(var(--background-color), 0.7)
  //     ),
  //     url("../img/bckgrnd.jpg");
  //   border-right: 2px solid rgba(var(--black), 0.2);
  //   & .nav__head {
  //     order: 2;
  //     align-items: center;
  //   }
  //   & .burger {
  //     order: 1;
  //     justify-content: center;
  //     .lines {
  //       flex-direction: row;
  //     }
  //   }
  //   & .place {
  //     order: 3;
  //     align-items: center;
  //   }
  // }

  @include phone {
    padding: calc(1vh + 8px) calc(1vw + 8px);
    height: 8vh;
  }
  .nav__background {
    // width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: linear-gradient(
        rgba(var(--background-color), 0.7),
        rgba(var(--background-color), 0.7)
      ),
      url("../img/bckgrnd.jpg");
    z-index: 11;
  }

  .place {
    font-family: "Domine", serif;
    font-size: calc(0.2vw + 8px);
    opacity: 0.75;
    width: 100%;
    display: flex;
    justify-content: flex-start;
    transition: all 500ms ease-in-out 500ms;
    z-index: 13;
    @include phone {
      display: none;
    }
    &-focus {
      transition: all 500ms ease-in-out 0ms;
      color: rgb(var(--background-color));
    }
  }
  .nav__head {
    display: flex;
    width: 100%;
    justify-content: center;
    z-index: 13;
    transition: all 500ms ease-in-out 500ms;
    color: rgb(var(--black));
    text-decoration: none;
    cursor: url("../img/c2.svg"), auto;
    &-focus {
      transition: all 500ms ease-in-out 0ms;
      color: rgb(var(--background-color));
    }
  }
  .burger {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    z-index: 13;
    // burger lines
    @include phone {
      width: auto;
    }
    .lines {
      display: flex;

      flex-direction: column;
      gap: 5px;
      cursor: url("../img/c2.svg"), auto;
    }
    .line1,
    .line2 {
      width: 40px;
      height: 3px;
      border-radius: 100px;
      background: rgb(var(--black));
      transition: all 500ms ease-in-out 500ms;
      @include phone {
        width: 30px;
        height: 2px;
      }
    }
    .line1-focus {
      transition: all 500ms ease-in-out 0ms;
      transform: rotate(45deg) translate(0, 5px);
      background: rgb(var(--background-color));
    }
    .line2-focus {
      transition: all 500ms ease-in-out 0ms;
      transform: rotate(-45deg) translate(0, -5px);
      background: rgb(var(--background-color));
    }
  }
}

.slider {
  background-image: url("../img/Tornpage.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-color: transparent;
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: 12;
  transform: translate(0, -100vh);
  transition: all 500ms ease-in-out 500ms;
  visibility: hidden;
}
.slider-focus {
  transition: all 500ms ease-in-out 0ms;
  transform: translate(0vh, 0);
  visibility: visible;
}

// menu section of slider
.menu {
  height: 90%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  .overflow {
    overflow: hidden;
  }
  &-item {
    display: inline-block;
    font-size: 5.6vw;
    transition: transform 500ms ease-in-out 0ms;
    transform: translateY(15vw);
    text-decoration: none;
    cursor: url("../img/c2.svg"), auto;
    h2 {
      font-size: 9.6vw;
      font-weight: 1000;
      line-height: 0.95;
      line-height: 0.95;
      letter-spacing: 0.5vw;
      color: rgb(var(--background-color));
      text-decoration: underline;
      text-decoration-color: rgb(var(--black));
      @include phone {
        font-size: 16vw;
        line-height: 1;
        letter-spacing: 0.8vw;
      }
      &:hover {
        text-decoration-color: rgb(var(--orange));
      }
    }
    @include phone {
      font-size: 9.6vw;
    }

    &-focus {
      transition: transform 500ms ease-in-out 500ms;
      transform: translateY(0vh);
    }
  }
}

// change in navigation
.nav-blogs {
  position: fixed;
  top: 0;
  left: 0;
  right: auto;
  bottom: auto;
  writing-mode: vertical-rl;
  height: 100%;
  width: 10vh;
  background-image: linear-gradient(
      rgba(var(--background-color), 0.7),
      rgba(var(--background-color), 0.7)
    ),
    url("../img/bckgrnd.jpg");
  border-right: 2px solid rgba(var(--black), 0.2);
  & .nav__head {
    order: 2;
    align-items: center;
  }
  & .burger {
    order: 1;
    justify-content: center;
    .lines {
      flex-direction: row;
    }
  }
  & .place {
    order: 3;
    align-items: center;
  }
}
// @media only screen and (min-device-width: 991px) {
// }
// .slider-blogs {
//   background-image: url("../img/Tornpage_Slant.png");
//   transform: translateX(-100vw);
//   background-position: right center !important;

//   .menu {
//     height: 100%;
//     writing-mode: horizontal-tb;
//   }
// }
