.heading {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(var(--black));
  margin: 2vw 0;
}

.intro {
  display: flex;
  &__left {
    flex: 40%;
    border-right: 2px solid rgba(var(--black), 0.2);
    padding-right: 2vw;

    hyphens: auto;
    word-wrap: break-word;
    &-heading {
      text-align: center;
    }
    &-text {
      padding-top: 2vw;
    }
  }
  &__right {
    flex: 60%;
    margin-left: 2vw;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    &-img {
      display: flex;
      align-items: flex-end;
      justify-content: center;
      width: 100;
      background-color: rgb(var(--brown));
      border: 2px solid rgba(var(--black), 0.2);
    }
    .profile {
      width: 80%;
    }

    &-content {
      margin-top: 2vw;
      h2 {
        padding-top: 0.4vw;
      }
    }
  }
}

// section recent
.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 2vw;
}

.stamp {
  flex: auto;
  margin: 2vw 0;
  &-svg {
    width: 100%;
    height: 100%;
  }
}
// $card-width: 40vw;
// $card-reveal: ($card-width * 0.67);
// $card-overlap: $card-reveal * -1;

.recent-blogs {
  margin-bottom: 2vw;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;

  .blog {
    outline: 2px solid rgba(var(--black), 1);
    border-radius: 0.8vw;
    padding: 1vw;
    box-shadow: -4px 4px 6px 0 rgb(29 29 27 / 20%);
    background-image: linear-gradient(
        rgba(var(--background-color), 0.7),
        rgba(var(--background-color), 0.7)
      ),
      url("../img/bckgrnd.jpg");
    -webkit-transform: translateX(calc(0));
    transform: translateX(calc(0));
    margin: 1px;
    cursor: url("../img/c2.svg"), auto;

    transition: transform 500ms ease-in-out;
    // animation
    &:not(:first-child) {
      margin-left: 40vw * 0.67 * -1;
    }
    &:hover ~ .blog {
      -webkit-transform: translateX(calc(40vw * 0.67 - 3vw));
      transform: translateX(calc(40vw * 0.67 - 3vw));
    }
    &:hover {
      filter: contrast(1.2);
    }
    &-embed {
      padding: 2vw;
      height: 100%;
      border-radius: 0.8vw;
      background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' rx='8' ry='8' stroke='%23333' stroke-width='2.5' stroke-dasharray='11%2c11' stroke-dashoffset='30' stroke-linecap='square'/%3e%3c/svg%3e");
      h2 {
        text-align: center;
        margin-bottom: 0.8vw;
      }
      &-text {
        font-size: 1.6vw;
        font-weight: 100;
        font-family: "Domine", serif;
        hyphens: auto;
        margin-bottom: 0.8vw;
      }
      &-date {
        gap: 1vw;
        span {
          font-family: "Domine", serif;
          font-size: calc(0.6vw + 8px);
          font-weight: 100;
        }
      }
    }
  }
}

.mail {
  // Animation
  @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(calc((-25vw) * 4));
    }
  }

  &__list {
    overflow: hidden;
    border-top: 2px solid rgba(var(--black), 0.2);
    border-bottom: 2px solid rgba(var(--black), 0.2);
    margin-bottom: 2vw;
    cursor: url("../img/c1.svg"), auto;
  }
  &__tags {
    display: flex;
    justify-content: center;

    animation: scroll 8s linear infinite;
    width: calc((25vw) * 8);
  }
  &__tag {
    width: calc(25vw);
    list-style: none;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

.mailitem {
  text-transform: capitalize;
  font-size: 4vw;
  font-family: "Domine", serif;
  font-weight: 100;
  padding: 0.4vw 0;
  text-align: center;
  cursor: url("../img/c1.svg"), auto;
}
.mailicon {
  font-size: 3.2vw;
  padding: 0 0.4vw;
  text-transform: uppercase;
  font-family: "Meridies", serif;
  color: rgba(var(--background-color), 1);
  background-color: rgb(var(--black));
  font-weight: 100;
  cursor: url("../img/c2.svg"), auto;
}
