h1 {
  font-size: 18.4vw;
  font-weight: 1000;
  line-height: 25vw;
  font-family: "Meridies", serif;
  text-transform: uppercase;
  color: rgb(var(--background-color));
  letter-spacing: -0.1vw;
  padding: 0 2.4vw;
}

h2 {
  font-size: 3.2vw;
  font-weight: 1000;
  font-family: "Meridies", serif;
  text-transform: uppercase;
  color: rgb(var(--black));
  letter-spacing: 0.1vw;
  span {
    font-size: 4.8vw;
  }
}

h3 {
  font-size: 4vw;
  font-weight: 100;
  font-family: "Domine", serif;
}

h4 {
  font-family: "Chomsky", serif;
  font-size: calc(1vw + 8px);
  font-weight: 100;
}

p {
  font-size: 2vw;
  font-weight: 100;
  font-family: "Domine", sans-serif;
  color: rgb(var(--black));
  &::first-letter {
    font-size: 4.8vw;
    background-color: rgb(var(--black));
    color: rgb(var(--background-color));
    float: left;
    margin: 0.6vw 0.8vw 0 0;
    padding: 0.2vw 0.4vw 0.2vw 0.4vw;
    text-transform: uppercase;
  }
}
