{% extends 'main.html' %} {% load static %}
<!--  -->
{% block title %} Add Blog {% endblock %} {% block content %}
<section class="signupin">
  <div class="back-btn-div">
    <a href="{% url 'blogs' %}" class="action-btn blog-btn crud-btn">
      <img src="{% static 'img/back_arrow.svg' %}" alt="back arrow" />
      <h5>go back</h5>
    </a>
  </div>
  <div class="signupin-container">
    <div class="signupin__heading">
      <h4 class="signupin__heading--sub">add your</h4>
      <h2 class="signupin__heading--main">blog</h2>
      <p class="signupin__heading--salute">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni qui quia
        voluptatem blanptatibus omnis nemo sequi commodi id totam adipisci.
      </p>
    </div>

    <div class="forms">
      <form method="POST" class="form" enctype="multipart/form-data">
        {% csrf_token %} {% for field in form %}
        <div class="form--field">
          <div class="form--field-embed">
            <label class="form--label">{{field.label}}</label>

            {{field}}
          </div>
        </div>
        {% for error in field.errors %}
        <span style="color: red" class="field--errors">{{error}}</span>
        {% endfor %} {% endfor %}

        <span class="btn--wrapper">
          <button class="action-btn" type="submit">Add</button>
        </span>
      </form>
    </div>
  </div>
</section>

{% endblock content %}
