<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="../static/css/styles.css" />
    <script defer src="../static/js/index.js"></script>
    <title>Document</title>
  </head>
  <nav>
    <div class="nav__background"></div>
    <div class="place">new delhi, india</div>
    <h4 class="nav__head">the paper blog</h4>
    <div class="burger">
      <div class="lines">
        <div class="line1"></div>
        <div class="line2"></div>
      </div>
    </div>
    <div class="slider">
      <div class="menu">
        <div class="overflow">
          <h2><a class="menu-item" href="#">index</a></h2>
        </div>
        <div class="overflow">
          <h2><a class="menu-item" href="#">blogs</a></h2>
        </div>
      </div>
    </div>
  </nav>
  <body>
    <div>
      <section class="blog">
        <div class="blog-container">
          <div class="blog-container-wrap">
            <div class="blog-container-img">
              <img
                src="https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/6155b959e22ce11a4a39ad04_scratch.png"
                sizes="100vw"
                alt=""
                class="scratch"
              />
              <h2>sample blogtext</h2>
            </div>
          </div>
        </div>
        <div class="blog-text">
          <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quia
            totam quo deserunt fugit enim sit. Beatae, mollitia nihil aliquam
            excepturi consectetur recusandae aut harum repudiandae? Nihil amet
            sunt sit. Lorem iperunt fugit enim sit. Beatae, mollitia nihil
            aliquam excepturi consum dolor sit amet consectetur adipisicing
            elit. Iusto quia totam quo deserunt fug it enim sit. Beatae,
            mollitia nihil aliquam excepturi consectetur recusandae aut harum
            repudiandae? Nihil amet sunt sit. Lorem ipsu m dolor sit amet
            consectetur adipisicing elit. Iusto quia totam quo deserunt fugit
            enim sit. Beatae, moll itia Iusto quia totam quo deserunt fugit enim
            sit. Beatae, mollitia nihil aliquam excepturi consectetur recusandae
            aut harum repudiandae? Nihil amet sunt sit. Lorem ipsum do lor s it
            amet consectetur adipisicing elit. Iusto quia totam quo deserunt
            fugit enim sit. Beatae, mollitia nihil aliquam excepturi consectetur
            recusandae aut harum repudiandae? Nihil amet sunt sit. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Iusto quia tot am quo
            deserunt fugit enim sit. Beatae, mollitia nihil aliquam excepturi
            consectetur recusandae aut harum repudiandae? Nihil amet sunt sit.
            Lorem iperunt fugit enim sit. Beatae, mollitia nihil aliquam
            excepturi consum dolor sit amet consectetur adipisicing elit. Iusto
            quia totam quo deserunt fug it enim sit. Beatae, mollitia nihil
            aliquam excepturi consectetur recusandae aut harum repudiandae?
            Nihil amet sunt sit. Lorem ipsum dolor sit amet consectetur adipi
            sicing elit. Iusto quia totam quo deserunt fugit enim sit. Beatae,
            moll itia Iusto quia totam quo deserunt fugit enim sit. Beatae,
            mollitia nihil aliquam excepturi consectetur recusandae aut harum
            repudiandae? Nihil amet sunt sit. Lorem ipsum dolor s it amet
            consectetur adipisicing elit. Iusto quia totam quo deserunt fugit
            enim sit. Beatae, mollitia nihil aliquam excepturi consectetur recus
            andae aut harum repudiandae? Nihil amet sunt sit. Lorem ipsum dolor
            sit amet consectetur adipisicing elit. Iusto quia totam quo deserunt
            fugit enim sit. Beatae, mollitia nihil aliquam excepturi consectetur
            recusandae aut harum repudiandae? Nihil amet sunt sit. Lorem iperunt
            fugit enim sit. Beatae, mollitia nihil aliquam excepturi consum
            dolor sit amet consectetur adipisicing elit. Iusto quia totam quo
            deserunt fug it enim sit. Beatae, mollitia nihil aliquam excepturi
            consectetur recusandae aut harum repudiandae? Nihil amet sunt sit.
            Lorem ipsum dolor sit amet consectetur adipisicing elit. Iusto quia
            totam quo de serunt fugit enim sit. Beatae, moll itia Iusto quia
            totam quo deserunt fugit enim sit. Beatae, mollitia nihil aliquam
            excepturi consectetur recusandae aut harum repudiandae? Nihil amet
            sunt sit. Lorem ipsum dolor s it amet consectetur adipisicing elit.
            Iusto quia totam quo deserunt fugit enim sit. Beatae, mollitia nihil
            aliquam excepturi consec tetur recusandae aut harum repudiandae?
            Nihil amet sunt sit. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Iusto quia totam quo deserunt fugit enim sit.
            Beatae, mollitia nihil aliquam excepturi consectetur recusandae aut
            harum repudiandae? Nihil amet sunt sit. Lorem iperunt fugit enim
            sit. Beatae, mollitia nihil aliquam excepturi consum dolor sit amet
            consectetur adipisicing elit. Iusto quia totam quo deserunt fug it
            enim sit. Beatae, mollitia nihil aliquam excepturi consectetur
            recusandae aut harum repudiandae? Ni hil amet sunt sit. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Iusto quia totam quo
            deserunt fugit enim sit. Beatae, moll itia Iusto quia totam quo
            deserunt fugit enim sit. Beatae, mollitia nihil aliquam excepturi
            consectetur recusandae aut harum repudiandae? Nihil amet sunt sit.
            Lorem ipsum dolor s it amet conse ctetur adipisicing elit. Iusto
            quia totam quo deserunt fugit enim sit. Beatae, mollitia nihil
            aliquam excepturi consectetur recusandae aut harum repudiandae?
            Nihil amet sunt sit. Lorem ipsum dolor sit amet consectetur
            adipisicing elit. Iusto quia totam quo deserunt fugit enim sit.
            Beatae, mollitia nihil aliquam excepturi consectetur recusan dae aut
            harum repudiandae? Nihil amet sunt sit. Lorem iperunt fugit enim
            sit. Beatae, mollitia nihil aliquam excepturi consum dolor sit amet
            consectetur adipisicing elit. Iusto quia totam quo deserunt fug it
            enim sit. Beatae, mollitia nihil aliquam excepturi consectetur rec
            usandae aut harum repudiandae? Nihil amet sunt sit. Lorem ipsum
            dolor sit amet consectetur adipisicing elit. Iusto quia totam quo
            deserunt fugit enim sit. Beatae, moll itia Iusto quia totam quo
            deserunt fugit enim sit. Beatae, mollitia nihil aliquam excepturi
            consectetur recusandae aut harum repudiandae? Nihil amet sunt sit.
            Lorem ipsum dolor s it amet consectetur adipisicing elit. Iusto quia
            totam quo deserunt fugit enim sit. Beatae, mollitia nihil aliquam
            excepturi consectetur recusandae aut harum repudiandae? Nihil amet
            sunt sit. Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Iusto quia totam quo deserunt fugit enim sit. Beatae, mollitia nihil
            aliquam excepturi consectetur recusandae aut harum repudiandae?
            Nihil amet sunt sit. Lorem iperunt fugit enim sit. Beatae, mollitia
            nihil aliquam e xcepturi consum dolor sit amet consectetur
            adipisicing elit. Iusto quia totam quo deserunt fug it enim sit.
            Beatae, mollitia nihil aliquam excepturi consectetur recusandae aut
            harum repudiandae? Nihil amet sunt sit. Lorem ipsum dolor sit amet
            consectetur adip isicing elit. Iusto quia totam quo deserunt fugit
            enim sit. Beatae, moll itia Iusto quia totam quo deserunt fugit enim
            sit. Beatae, mollitia nihil aliquam excepturi consectetur recusandae
            aut harum repudiandae? Nihil amet sunt sit. Lorem ipsum dolor s it
            amet con sectetur adipisicing elit. Iusto quia totam quo deserunt
            fugit enim sit. Beatae, mollitia nihil aliquam excepturi consectetur
            recusandae aut harum repudiandae? Nihil amet sunt sit.
          </p>
        </div>
      </section>
    </div>
  </body>
  <footer>
    <div class="footer">
      <div class="footer__copyright">jappreet &copy;</div>
      <div class="footer__links">
        <ul>
          <li>twitter</li>
          <li>github</li>
          <li>linkedin</li>
          <li>instagram</li>
        </ul>
      </div>
    </div>
  </footer>
</html>
