{% extends 'main.html' %} {% load static %}
<!--  -->
{% block title %} {{post.title}} {% endblock %} {% block content %}

<div class="page1">
  <div class="back-btn-div">
    <a href="{% url 'blogs' %}" class="action-btn blog-btn crud-btn">
      <img src="{% static 'img/back_arrow.svg' %}" alt="back arrow" />
      <h5>back all</h5>
    </a>
  </div>
  <div class="case-intro">
    <div class="cover">
      <div
        style="background-image: url('{{ post.image.url }}');"
        class="c-inner"
      >
        <div class="ripped-wrap">
          <div class="c-ripped"></div>
          <img
            src="https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/6155b959e22ce11a4a39ad04_scratch.png"
            loading="lazy"
            sizes="100vw"
            srcset="
              https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/6155b959e22ce11a4a39ad04_scratch-p-500.png   500w,
              https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/6155b959e22ce11a4a39ad04_scratch-p-800.png   800w,
              https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/6155b959e22ce11a4a39ad04_scratch-p-1080.png 1080w,
              https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/6155b959e22ce11a4a39ad04_scratch-p-1600.png 1600w,
              https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/6155b959e22ce11a4a39ad04_scratch-p-2000.png 2000w,
              https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/6155b959e22ce11a4a39ad04_scratch-p-2600.png 2600w,
              https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/6155b959e22ce11a4a39ad04_scratch-p-3200.png 3200w,
              https://uploads-ssl.webflow.com/5f2429f172d117fcee10e819/6155b959e22ce11a4a39ad04_scratch.png        3525w
            "
            alt=""
            class="scratch"
          />
        </div>
        <div class="pr-info">
          <div class="pr-title__wrap">
            <h2 class="pr-title">{{ titleLine }}<br />{{ titleSubLine}}</h2>
            <div class="sub-heading w-dyn-bind-empty"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="case-wrap">
    <div class="case-info">
      <div class="blog-text">
        <div class="blog-text-embed">
          <p style="white-space: pre-wrap">{{ post.body }}</p>
        </div>
      </div>
    </div>
    <div class="crud-container">
      <a
        class="action-btn blog-btn crud-btn"
        type="submit"
        href="{% url 'delete' post.pk %}"
      >
        <img src="{% static 'img/delete_arrow.svg' %}" alt="delete arrow" />
        <h5>delete blog</h5>
      </a>
      <a
        class="action-btn blog-btn crud-btn"
        type="submit"
        href="{% url 'update' post.pk %}"
      >
        <img src="{% static 'img/update_arrow.svg' %}" alt="update arrow" />
        <h5>update blog</h5>
      </a>

      <form action="{% url 'like_post' post.pk %}" method="post">
        {% csrf_token %} {% if user.is_authenticated %} {% if liked %}

        <button
          name="post_id"
          value="{{post.id}}"
          class="action-btn blog-btn"
          type="submit"
        >
          <h5>unlike blog</h5>
        </button>

        {% else %}
        <button
          name="post_id"
          value="{{post.id}}"
          class="action-btn blog-btn"
          type="submit"
        >
          <h5>like blog</h5>
        </button>
        {% endif %} {% endif %}
      </form>
    </div>
    <div class="total_likes">
      <h5>Total Likes: <span>{{total_likes}}</span></h5>
    </div>
  </div>
</div>
{% endblock content %}
