<footer>
  <div class="footer">
    <div class="footer__copyright">
      <a href="{% url 'index' %}"> <h5>jappreet &copy;</h5> </a>
    </div>
    <div class="footer__links">
      <ul>
        <li>
          <a href="https://twitter.com/JappreetSingh9"> <h5>twitter</h5> </a>
        </li>
        <li>
          <a href="https://github.com/epicnoxious"><h5>github</h5></a>
        </li>
        <li>
          <a href="https://www.linkedin.com/in/jappreet-singh-6362071a0/"
            ><h5>linkedin</h5></a
          >
        </li>
        <li>
          <a href="https://www.instagram.com/jappreet.singh_/"
            ><h5>instagram</h5></a
          >
        </li>
      </ul>
    </div>
  </div>
</footer>
