<nav>
  <div class="nav__background"></div>
  <div class="place">new delhi, india</div>
  <a class="nav__head" href="{% url 'index' %}"><h4>the paper blog</h4></a>
  <div class="burger">
    <div class="lines">
      <div class="line1"></div>
      <div class="line2"></div>
    </div>
  </div>
  <div class="slider">
    <div class="menu">
      <div class="overflow">
        <a class="menu-item" href="{% url 'index' %}"><h2>index</h2></a>
      </div>
      <div class="overflow">
        <a class="menu-item" href="{% url 'blogs' %}"><h2>blogs</h2></a>
      </div>
      {% if user.is_authenticated %}
      <div class="overflow">
        <a class="menu-item" href="{% url 'logout' %}"><h2>logout</h2></a>
      </div>
      {% else %}
      <div class="overflow">
        <a class="menu-item" href="{% url 'login' %}"><h2>login</h2></a>
      </div>
      {% endif %}
    </div>
  </div>
</nav>
