{% extends 'main.html' %} {% block content %}

<section class="login">
  <div class="login-background">
    <div id="object"></div>
    <div class="add-container login-container">
      <div class="add-wrapper login-wrapper">
        <div class="add-wrapper__heading login-wrapper__heading">
          <h4 class="add-wrapper__heading--sub login-wrapper__heading--sub">
            password reset
          </h4>
          <h2 class="add-wrapper__heading--main login-wrapper__heading--main">
            the paper blog
          </h2>
        </div>

        <span
          style="
            color: rgb(var(--background-color));
            font-size: 1.6vw;
            width: 70%;
          "
          >Forgotten your password? Enter your email address below, and we'll
          email instructions for setting a new one</span
        >
        <form method="POST" class="login-form">
          {% csrf_token %}
          <div class="login-form--field">
            <input
              type="email"
              name="email"
              autocomplete="email"
              maxlength="254"
              required
              class="input input--text"
              placeholder="email"
            />
          </div>
          <input class="login-form--btn" type="submit" value="Continue" />
        </form>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
