{% extends 'main.html' %} {% block content %}

<section class="login">
  <div class="login-background">
    <div id="object"></div>
    <div class="add-container login-container">
      <div class="add-wrapper login-wrapper">
        <div class="add-wrapper__heading login-wrapper__heading">
          <h4 class="add-wrapper__heading--sub login-wrapper__heading--sub">
            verify your
          </h4>
          <h2 class="add-wrapper__heading--main login-wrapper__heading--main">
            email
          </h2>
        </div>
        <span
          style="
            color: rgb(var(--background-color));
            font-size: 1.6vw;
            width: 75%;
            text-align: justify;
          "
        >
          We've emailed you instructions for setting your password, if an
          account exists with the email you entered. You should receive them
          shortly. If you don't receive an email, please make sure you've
          entered the address you registered with, and check your spam folder.
        </span>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
