{% extends 'main.html' %} {% load static %}
<!--  -->
{% block title %} Reset Password {% endblock %}
<!--  -->
{% block content %}

<section class="signupin">
  <div class="signupin-container">
    <div class="signupin__heading">
      <h4 class="signupin__heading--sub">reset your</h4>
      <h2 class="signupin__heading--main">Password</h2>
      <p class="signupin__heading--salute">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Magni qui quia
        voluptatem blanptatibus omnis nemo sequi commodi id totam adipisci.
      </p>
    </div>
    <!-- Sign Up Form -->
    <div class="forms">
      <form method="POST" class="form">
        {% csrf_token %}
        <div class="form--field">
          <div class="form--field-embed">
            <label class="form--label">Email</label>

            <input
              class="form--field-input"
              type="email"
              name="email"
              autocomplete="email"
              maxlength="254"
              required
              id="id_email"
            />
          </div>
        </div>

        <span class="btn--wrapper">
          <button class="action-btn" type="submit">Send Password</button>
        </span>
      </form>
    </div>
  </div>
</section>

{% endblock content %}
