{% extends 'main.html' %} {% load static %}
<!--  -->
{% block title %} Reset Password Complete {% endblock %}
<!--  -->
{% block content %}

<section class="signupin">
  <div class="signupin-container">
    <div class="signupin__heading">
      <h4 class="signupin__heading--sub">authentication</h4>
      <h2 class="signupin__heading--main">success</h2>
      <p class="signupin__heading--salute">
        Your password has been set. You may go ahead and log in now.
      </p>
      <div
        style="justify-content: flex-start; padding-top: 1vw"
        class="form--switch"
      >
        <span class="btn--wrapper">
          <form action="{% url 'login' %}" method="post">
            {% csrf_token %}
            <button class="action-btn" type="submit">Continue</button>
          </form>
        </span>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
